<div class="container">
  <div>
    <p-dropdown
      [options]="(descriptionTaskService.currentTasks$ | async)?.languages"
      optionLabel="name"
      optionValue="code"
      (onChange)="setLanguage($event.value)"
      placeholder="Выберите язык"
    />
    <p-dropdown
      [options]="configThemEditor"
      optionLabel="name"
      optionValue="code"
      (onChange)="setTheme($event.value)"
    />
    <p-button class="run" (onClick)="run()">Run</p-button>
  </div>
  <div #editor class="editor"></div>
  <p-panel header="Time limit: 5  memory limit: 243232" class="output">
    <div *ngIf="(runCodeService.request$ | async) as request">
      <code>Status: {{request?.result?.compile_status || 'none run'}}</code>
      <code [lang]="currentLanguage">
        Output: {{
          runCodeService.getOutput(request.result.run_status.output) | async
        }}
      </code>
    </div>
  </p-panel>
</div>

