.container {
  display: flex;
  right: 50px;
  border: 1px solid darkgreen;
  flex-direction: column;
  gap: 10px;
}

.editor {
  width: 717px;
  height: 500px;
  border: 1px solid blue;
  border-radius: 8px;
}
