.container {
  display: flex;
  right: 50px;
  flex-direction: column;
  gap: 10px;
}

.editor {
  width: 717px;
  height: 500px;
  border: 1px solid var(--p-emerald-900);
  border-radius: 8px;
}

.output {
  max-width: 717px;
  border-radius: 8px;
  border: 1px solid var(--p-emerald-900);
  &__error {
    border: 1px solid var(--p-red-500);
    border-radius: 8px;
  }
  &__success {
    border: 1px solid var(--p-emerald-400);
    border-radius: 8px;
  }
}
