<div class="container">
  <div>
    <p-dropdown
      [options]="(descriptionTaskService.currentTasks$ | async)?.languages"
      optionLabel="name"
      optionValue="code"
      (onChange)="setLanguage($event.value)"
      placeholder="Выберите язык"
    />
    <p-dropdown
      [options]="configThemEditor"
      optionLabel="name"
      optionValue="code"
      (onChange)="setTheme($event.value)"
    />
    <p-button class="run">Run</p-button>
  </div>
  <div #editor class="editor"></div>
  <div>
    <p-iftalabel>
      <textarea pTextarea id="description"  rows="5" cols="30" style="resize: none"></textarea>
      <label for="description">Description</label>
    </p-iftalabel>
  </div>
</div>

